
@font-face {
    font-family: PabloFont;
    src: url(/images/pablo.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PabloFont;
}


li a, .dropbtn {
    display: inline-block;
    color: white;
    padding: 9px 12px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    color:red;
}



li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0;
}
.dropdown-content li{
  list-style: none;
  width: 100%;
  display: inline-block;
}
.dropdown-content a {
    color: black;
    padding: 4px 6px;
    text-decoration: none;
    display: block;
    text-align: left;
    /*position:relative;*/
}

.dropdown-content a:hover {background-color: transparent}

.dropdown:hover > .dropdown-content ,
.dropdown-content .dropdown:hover > .dropdown-content {
    display: block;
}
.dropdown-content .dropdown > .dropdown-content{
  left: 100%;
  top: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #080808;
    color: white;
}

.gray{
    background: #282828;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(/images/pablo-background.png);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 20px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ff0000;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.2s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;

}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}


.header-text h1 span{
    color: #ff0000;
}

hr {
    opacity: 0.3;
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    unicode-bidi: isolate;
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    width: 40%;
}

/*-----------------------about---------------------*/

#about{
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
 flex-basis: 35%;   
}

.about-col-1 img{
 width: 100%;
 border-radius: 15px; 
}

.about-col-2{
    flex-basis: 60%;

}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: red;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.2s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;

}

.tab-contents ul li span{
    color: #ee4646;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}




/*-------------services section-------------*/

.center-video{
    margin: 0 auto;
}

#services{
    padding: 30px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list img{
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 5px;
    transition: backgroun 0.2s, transform 0.3s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list img a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list img:hover{
    border: 5px solid #ff0000;
    border-radius: 50px;
    padding: 5px 40px; 
    transform: translateY(-10px);
    width: 100%;
    height: auto;
}



/*-------------portfolio-------------*/


.portfolio{
    padding: 50px
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work iframe{
    width: 100%;
    border-radius: 10px;
    display: block;
    
}

.centered {
    text-align: center;
    padding: 2rem;
}

.lighter-text{
    font-weight: lighter;
}


/*-----------contact--------*/

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: backgorund 0.2s;
}

.btn:hover{
    background: #ff004f;
}

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}


.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: white;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.2s;
}

.social-icons a:hover{
    color: #f12c2c;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background: #f12c2c;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

#msg{
    color: #ffffff;
    margin-top: -40px;
    display: block;
}


/*----------------Css for small screen -------------*/

nav .fas{
    display: none;
}


.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
}

.logo-header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.logo{
    position: relative;
    display: inline;
    bottom: -20px;
    opacity: 0;
}

.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

.btn3{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: backgorund 0.2s;
    background: #f12c2c;
}

.btn4{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ffffff;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #000000;
    transition: backgorund 0.2s;
    background: #ffffff;
}

.fadeInRight {
    animation-name: fadeInRight;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0,100%,0)
    }

    to {
        opacity: 1;
        transform: none
    }
}

.animated {
    animation-duration: 1.25s
}



.wrapper img {
    filter: grayscale(100%);
    transition: 0.5s ease;
    cursor: pointer;
}
.wrapper img:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .btn5.btn6{
    display: flex;
    background: #454545;
}
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-header {
    text-align: center;
  padding: 2px 16px;
  background-color: #000000;
}


/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: rgb(0, 0, 0);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  padding: 0;
  width: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* Reel Section */
.btn5{
    display: block;
    margin: 50px auto;
    width: fit-content;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: backgorund 0.2s;
}

.btn5:hover{
    background: #f12c2c;
    transform: translateY(-10px);
}

/* Music Page */

.soundcloud-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}


.musicrow{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



@media only screen and (max-width: 600px){

    .soundcloud-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 40px;
        margin-top: 50px;
    }

    video{
        width: -webkit-fill-available;

    }

    .center-video{
        width: auto;
        margin: 0 auto;
    }

    .game-library{
        width: auto;
    }


    .logo{
        position: relative;
        display: inline-block;
        bottom: -20px;
        opacity: 0;
    }

    .fractalbutton{
        border: none;
    }

    #header{
        background-image: url(images/small-width.png);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;

    }
    .header-text h1{
        font-size: 30px;
    }

    nav .fas{
        display: block;
        font-size: 25px;
    }

    nav ul{
        background: white;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li a{
        color: black;
    }

    nav ul li a.dropbtn{
        color: black;
    }

    nav ul li a::after{
        content: '';
        width: 0%;
        height: 3px;
        background: #000000;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.2s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul li.dropdown{
        display: block;
        margin: 25px;
    }

    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
        color: black;
    }

    .sub-title{
        font-size: 40px;
    }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }

    .about-col-1{
        margin-bottom: 30px;
    }

    .about-col-2{
        font-size: 14px;
    }

    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left, .contact-right{
        flex-basis: 100%;
    }

    .copyright{
        font-size: 14px;
    }

    hr{
        display: none;
    }

    .work iframe{
        width: 300px;
    }

    .work-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 40px;
        margin-top: 50px;
    }

    .video-settings{
        width: 100%;
        height: auto;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
    .soundcloud-list{
        display:contents;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 40px;
        margin-top: 50px;
    }

    .musicrows{
        display:block;
        justify-content:space-between;
        flex-wrap:inherit;
    }
}
    

@media only screen and (min-width: 600px) and (max-width: 1207px){
    .work-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 40px;
        margin-top: 50px;
    }
}


.services-backgroundOne img{
    width: 100%;
    height: auto;
    border-radius: 50px;
}
